<br>
<h2 style="margin-left: 20px">Pistas de Tenis Olula del Rio</h2>
<div class="contenedor-flexbox">
  <div id="map" style="width:50%; display:inline-block; margin-left: 20px; margin-bottom: 40px;">
  </div>
  <div id="text" style="width:50%; margin-left: 20px;">
          <h3><b>Escuela de deportes en España</b></h3>
          <h3>Dirección: Av. Vereda de Olula, 04860 Olula del Río, Almería</h3>
          <h3>Teléfono: 606 05 92 08</h3>
          <h3>Horario: Martes y Jueves 17:00–21:00</h3>
          <h3>Provincia: Almería</h3>
  </div>
</div>


