 <mat-card class="login">
    <mat-card>
        <div>
            <br>
            <div class="image">
                <img src="assets/images/login2.jpg" style="width: 8%" alt="">
            </div>
        </div>

        <form (ngSubmit)="formSubmit()">
            <h2>Iniciar Sesión</h2>
            <mat-form-field class="fields" appearance="outline">
                <mat-icon class="primary-icon" matIconPrefix="">alternate_email</mat-icon>
                <mat-label>Email</mat-label>
                <input [(ngModel)] = "loginData.email" name="email" required type="email" matInput placeholder="Introduzca su Email" />
            </mat-form-field>
            <br>
            <mat-form-field class="fields" appearance="outline">
                <mat-icon class="primary-icon" matIconPrefix="">key</mat-icon>
                <mat-label>Contraseña</mat-label>
                <input [(ngModel)] = "loginData.password" name="password" required [type]="hide ? 'password' : 'text'" matInput placeholder="Introduzca su contraseña" />
                <mat-icon mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" class="primary-icon">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </mat-form-field>
            <br>
            <div>
                <button mat-raised-button class="button" type="submit">Iniciar Sesión</button>
                <button mat-raised-button  type="reset" style="margin: 2%;">Limpiar</button>
            </div>
        </form>
    <p style="margin-right: 25px">
      En caso de no tener cuenta,
      <a href="register">Regístrate</a>.
    </p>
      <p>
        Para recuperar el nombre de usuario, haz click
        <a href="register">aquí</a>.  ¿Has olvidado tu contraseña? Haz click
        <a href="register">aquí</a>.
      </p>
    </mat-card>
 </mat-card>
