<footer class="text-center text-white" style="background-color: #7f70b0;">  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a
        mdbRipple
        class="btn btn-primary btn-floating m-1"
        style="background-color: #3b5998;"
        href="https://www.facebook.com/AyuntamientoOlula?locale=es_ES" target="_blank"
        role="button"
      ><i class="bi-facebook"></i
      ></a>
      <!-- Instagram -->
      <a
        mdbRipple
        class="btn btn-primary btn-floating m-1"
        style="background-color: #ac2bac;"
        href="https://www.instagram.com/tenisoluladelrio/" target="_blank"
        role="button"
      ><i class="bi-instagram"></i
      ></a>
      <!-- WhatsApp -->
      <a
        mdbRipple
        class="btn btn-primary btn-floating m-1"
        style="background-color: #2d9b5a;"
        href="https://www.instagram.com/tenisoluladelrio/" target="_blank"
        role="button"
      ><i class="bi-whatsapp"></i
      ></a>
      <!-- Twitter -->
      <a
        mdbRipple
        class="btn btn-primary btn-floating m-1"
        style="background-color: #55acee;"
        href="https://twitter.com/i/flow/login?redirect_after_login=%2Faytodeolula" target="_blank"
        role="button"
      ><i class="bi-twitter"></i
      ></a>

    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgb(100,88,143);">
    © 2023 Copyright:
    <a class="text-white" href="https://ayuntamientodeolula.com/deportes" target="_blank">ayuntamientoolula.com </a>
  </div>
  <!-- Copyright -->
</footer>
