<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CRUD Springboot</title>

    <!-- links para exportar a excel -->
    <script src="https://unpkg.com/xlsx@0.16.9/dist/xlsx.full.min.js"></script>
    <script src="https://unpkg.com/file-saverjs@latest/FileSaver.min.js"></script>
    <script src="https://unpkg.com/tableexport@latest/dist/js/tableexport.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">

    <!-- Bootstrap CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet"
          th:href="@{/css/bootstrap.css}">
</head>
<body>
<div class="container">
    <br>
    <h2 th:if="${list.isEmpty()}">
        No existen empleados registrados</h2>
    <div th:if="${!list.isEmpty()}">
        <h2>
            Mantenimiento de Empleados</h2>
        <br>
        <div class="card-body">
            <button id="btnExportar" class="btn btn-success">
                <i class="fas fa-file-excel"></i> Exportar datos a Excel
            </button>
        <br><br>
            <!--
            <br>
            <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Buscar por FullName..">
            -->
            <table id="tabla" class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>FullName</th>
                <th>Nif</th>
                <th>BirthDate</th>
                <th>PersonalPhone</th>
                <th>Email</th>
                <th>Country</th>
                <th>Area</th>
                <th>CreationDate</th>
                <th>Active</th>
                <th>Login</th>
                <th>Editar</th>
                <th>Eliminar</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="Employee : ${list}">
                <td th:text="${Employee.id}">
                <td th:text="${Employee.fullName}">
                <td th:text="${Employee.nif}">
                <td th:text="${Employee.birthDate}">
                <td th:text="${Employee.personalPhone}">
                <td th:text="${Employee.email}">
                <td th:text="${Employee.country}">
                <td th:text="${Employee.area}">
                <td th:text="${Employee.creationDate}">
                <td th:text="${Employee.active}">
                <td th:text="${Employee.login}">
                <td><a class="btn btn-info" id="exclude" th:href="@{/save/{id}(id=${Employee.id})}">Editar</a></td>
                <td><a class="btn btn-danger" id="exclude2" th:href="@{/delete/{id}(id=${Employee.id})}">Eliminar</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <br>
    <div>
         <a href="/save/0" class="btn btn-primary">Agregar Empleados</a>
    </div>
        <br>

</div>
    <!-- Script para exportar a excel la tabla -->
    <script>
    const $btnExportar = document.querySelector("#btnExportar"),
        $tabla = document.querySelector("#tabla");

    $btnExportar.addEventListener("click", function() {
        let tableExport = new TableExport($tabla, {
            exportButtons: false, // No queremos botones
            filename: "Employees", //Nombre del archivo de Excel
            sheetname: "Employees", //Título de la hoja
             ignoreCols: [9,10],
        });
        let datos = tableExport.getExportData();
        let preferenciasDocumento = datos.tabla.xlsx;
        tableExport.export2file(preferenciasDocumento.data, preferenciasDocumento.mimeType, preferenciasDocumento.filename, preferenciasDocumento.fileExtension, preferenciasDocumento.merges, preferenciasDocumento.RTL, preferenciasDocumento.sheetname);
    });
</script>

    <!-- Script para añadir un filtrado por FullName en la tabla -->
    <!--
   <script>
function myFunction() {
 var input, filter, table, tr, td, i, txtValue;
 input = document.getElementById("myInput");
 filter = input.value.toUpperCase();
 table = document.getElementById("tabla");
 tr = table.getElementsByTagName("tr");
 for (i = 0; i < tr.length; i++) {
   td = tr[i].getElementsByTagName("td")[1];
   if (td) {
     txtValue = td.textContent || td.innerText;
     if (txtValue.toUpperCase().indexOf(filter) > -1) {
       tr[i].style.display = "";
     } else {
       tr[i].style.display = "none";
     }
   }
 }
}
</script>
-->
   <!-- JQUERY -->
    <script src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous">
    </script>
    <!-- DATATABLES -->
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js">
    </script>
    <!-- BOOTSTRAP -->
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js">
    </script>
    <script>
        $(document).ready(function () {
            $('#tabla').DataTable();
             });
    </script>


</div>
</body>
</html>