<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Agregar Administradores</title>

    <!-- Bootstrap CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet"
          th:href="@{/css/bootstrap.css}">
</head>
<body>
<div class="container">
    <br>
    <h2>
        Agregar Admin</h2>
    <form action="#" th:action="@{/save}" th:object="${employee}"
          method="post">
        &nbsp;
        <input type="hidden" th:field="*{id}" name="id" id="id">
        <div class="form-group">
            <label for="Nif">Nif</label> <input type="text" size="5" style="width:500px"
                                                        class="form-control" id="nif" th:field="*{nif}"
                                                        name="nif" required>
        </div>
        &nbsp;
        <div class="form-group">
            <label for="personalPhone">PersonalPhone</label> <input type="tel" size="5" style="width:500px"
                                                        class="form-control" id="personalPhone" th:field="*{personalPhone}"
                                                        name="personalPhone" required>
            <label size="3" style="width:400px" for="personalPhone">Ejemplo: +3474658386 </label>
        </div>
        &nbsp;
        <div class="form-group">
            <label for="email">Email</label> <input type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+/.[a-z]{2,4}$/" size="5" style="width:500px"
                                                          class="form-control" id="email" th:field="*{email}"
                                                          name="email" required>
        </div>
        &nbsp;
        <div class="form-group">
            <label for="area">Area</label> <input type="text" pattern="[a-zA-Z ]{2,254}" size="5" style="width:500px"
                                                            class="form-control" id="area" th:field="*{area}"
                                                            name="area" required>
        </div>
        &nbsp;
        <div class="form-group">
            <label for="active">Active</label> <input type="number" pattern="[a-zA-Z ]{2,254}" size="5" style="width:500px"
                                                  class="form-control" id="active" th:field="*{active}"
                                                  name="active" required>
        </div>
        <br>
        <button type="submit" class="btn btn-success">Guardar</button>
    </form>
    <br>
</div>
</body>
</html>