<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Agregar Usuarios</title>

    <!-- Bootstrap CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet"
          th:href="@{/css/bootstrap.css}">
</head>
<body>
<div class="container">
    <br>
    <h2>
        Agregar Usuarios</h2>
    <form action="#" th:action="@{/user/save}" th:object="${user}"
          method="post">
        &nbsp;
        <div class="form-group">
            <label for="area">Area</label> <input type="text" pattern="[a-zA-Z ]{2,254}" maxlength="20" size="5" style="width:500px"
                                                  class="form-control" id="area" th:field="*{area}"
                                                  name="area" required>
        </div>
        &nbsp;
        <input type="hidden" th:field="*{id}" name="id" id="id">
        <div class="form-group">
            <label for="Nif">Nif</label> <input type="text" size="5" style="width:500px"
                                                        class="form-control" id="nif" th:field="*{nif}"
                                                        name="nif" required>
        </div>
        &nbsp;
        <div class="form-group">
            <label for="country">Country</label> <input type="text" pattern="[a-zA-Z ]{2,254}" maxlength="20" size="5" style="width:500px"
                                                            class="form-control" id="country" th:field="*{country}"
                                                            name="country" required>
        </div>
        &nbsp;
        <div class="form-group">
            <label for="username">Username</label> <input type="text" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+/.[a-z]{2,4}$/" size="5" maxlength="20" style="width:500px"
                                                    class="form-control" id="username" th:field="*{username}"
                                                    name="username" required>
        </div>
        &nbsp;
        <div class="form-group">
            <label for="password">Password</label> <input type="text" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+/.[a-z]{2,4}$/" size="5" maxlength="25" style="width:500px"
                                                            class="form-control" id="password" th:field="*{password}"
                                                            name="password" required>
        </div>
        &nbsp;
        <div class="form-group">
            <label for="language">Language</label> <input type="text" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+/.[a-z]{2,4}$/" size="5" maxlength="4" style="width:500px"
                                                          class="form-control" id="language" th:field="*{language}"
                                                          name="language" required>
            <label size="3" style="width:400px" for="personalPhone">Ejemplo: ES, USA </label>

        </div>
        &nbsp;
        <div class="form-group">
            <label for="personalPhone">PersonalPhone</label> <input type="tel" size="5" maxlength="12" style="width:500px"
                                                        class="form-control" id="personalPhone" th:field="*{personalPhone}"
                                                        name="personalPhone" required>
            <label size="3" style="width:400px" for="personalPhone">Ejemplo: +3474658386 </label>
        </div>
        &nbsp;
        <div class="form-group">
            <label for="email">Email</label> <input type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+/.[a-z]{2,4}$/" size="5" minlength="10"  style="width:500px"
                                                          class="form-control" id="email" th:field="*{email}"
                                                          name="email" required>
        </div>
        <br>
        <button type="submit" class="btn btn-success">Guardar</button>
    </form>
    <br>
</div>
</body>
</html>