<body>
<div class="contenedor">
  <img class="foto" src="./assets/images/tenis.jpg">
  <h1 class="centrado">Escuela de tenis Olula Del Rio</h1>
</div>
    <div class="col-sm-4" style="align-content: center">
      <div class="card text-white bg-secondary mb-3" style="align-content: center;">
        <h2 class="card-header">Escuela de Tenis<i class="bi bi-clipboard2-check" style="color:#6e5cb0;margin-left: 112px"></i>
        </h2>
        <div class="card-body">
          <h4 class="card-title">¡Comienza una nueva era del Tenis Olula del Rio!</h4>
          <p class="card-text">Practica con nosotros este maravilloso deporte de una forma divertida, motivadora y profesional
          a la vez que sana y beneficiosa para la salud. Clases para todas las edades y niveles.</p>
          <a class="btn btn-primary" href="register">¡Apúntate ya! </a>
        </div>

    </div>
     <!-- <div class="image">
        <img src="assets/images/portadatenis.jpg" style="width: 71.2%" alt="">
      </div>-->
  </div>
    <div class="col-sm-4">
      <div class="card text-white bg-secondary mb-3" style="width: 20rem;">
        <h2 class="card-header">Reservas<i class="bi bi-calendar-check-fill" style="color:#6e5cb0;margin-left: 112px"></i>
        </h2>
        <div class="card-body">
          <h4 class="card-title">¡Comienza una nueva era del Tenis Olula del Rio!</h4>
          <p class="card-text">Practica con nosotros este maravilloso deporte de una forma divertida, motivadora y profesional
            a la vez que sana y beneficiosa para la salud. Clases para todas las edades y niveles.</p>
          <a class="btn btn-primary" href="reservas">¡Reserva ya! </a>
        </div>
      </div>
     <!-- <div class="image">
        <img src="assets/images/pista2.jpg" style="width: 71%" alt="">
      </div>-->
    </div>
    <div class="col-sm-4">
      <div class="card text-white bg-secondary mb-3" style="max-width: 120rem;">
        <h2 class="card-header">Instalaciones<i class="bi bi-geo-alt-fill" style="color:#6e5cb0;margin-left: 142px"></i>
        </h2>
        <div class="card-body">
          <h4 class="card-title">¡Comienza una nueva era del Tenis Olula del Rio!</h4>
          <p class="card-text">Practica con nosotros este maravilloso deporte de una forma divertida, motivadora y profesional
            a la vez que sana y beneficiosa para la salud. Clases para todas las edades y niveles.</p>
          <a class="btn btn-primary" href="map">¡Encuéntranos!</a>
        </div>
      </div>
     <!-- <div class="image">
        <img src="assets/images/pista3.jpeg" style="width: 71%;display: flex" alt="">
      </div>-->
    </div>

  <br><br>
</body>


