<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Tenis Olula del Rio</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="home"><i class="bi bi-house-fill" style="font-size: 20px;color:#bdb6d9"></i>
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Escuela Tenis</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Reservas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  href="map">Instalaciones </a>

        </li>
        <li class="nav-item">
          <a class="nav-link" href="login">Iniciar sesón</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="profile">Pérfil</a>
        </li>
      </ul>
        <a class="nav-link-login" href="login"><mat-icon>account_circle</mat-icon></a>
    </div>
  </div>
</nav>

