<div class="contenedor">
  <img class="foto" src="./assets/images/tenis.jpg">
  <h1 class="centrado">Escuela de tenis Olula Del Rio</h1>
</div>
<div class="slide" style="width: 98.5vw; height: 25vw; text-align:center;">
  <ng-image-slider #nav
                   [images]="imageObject"
                   [infinite]="true"
                   [autoSlide]="4"
                   [imageSize]="{width: '355vw', height: '255vw'}"
                   [imagePopup]="true"
                   [animationSpeed]="4"
                   [showArrow]="true"
                   [arrowKeyMove]="true"
                   [slideImage]="1">
  </ng-image-slider>
</div>
<h2 style="color: black; padding-left: 2vw; padding-right: 2vw; text-align: center;  text-transform: uppercase;">Por qué elegir Club de Tenis Olula del Rio</h2>
<h3 style="color: black; padding-left: 10vw; padding-right: 10vw; padding-top: 2vw; text-align: center;" >Las instalaciones del club se encuentran en un entorno único de 50.000 m2 rodeado de
  grandes arboles, piscina, catorce pistas de tenis, campo de Fútbol 7, cinco pistas de pádel, canastas
  y nuevo gimnasio. Esto es atractivo para cualquier deportista, pero es mucho más que eso. Nuestro
  restaurante en el entorno de la piscina permite conciliar la vida social con el deporte. Fiestas temáticas,
  navideñas, etc. A esto debes sumar la tranquilidad de los padres cuando no hay colegio con el comodín del
  club. Tus hijos disfrutarán al aire libre en la escuela de verano, escuela de navidad y días deportivos.</h3>
<div class="grid-container">
  <mat-grid-list cols="2" rowHeight="350px" style="padding: 10vw">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card" style="align-items: center; padding: 2vw">
        <mat-card-header>
          <mat-card-title>
            <div style="font-size: 130%; color: #64588f">{{card.title}}</div>
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
        <!--  <div class="image" *ngIf="card.title==''">
            <img mat-card-img src="./assets/images/tenis.jpg">
               </div>-->
          <br>
          <div style="font-size: 120%; color:#ffffff">{{card.body}}</div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
<h3 style="color: black; padding-left: 10vw; padding-right: 10vw; padding-top: 2vw; text-align: center;" >Las instalaciones del club se encuentran en un entorno único de 50.000 m2 rodeado de
  grandes arboles, piscina, catorce pistas de tenis, campo de Fútbol 7, cinco pistas de pádel, canastas
  y nuevo gimnasio. Esto es atractivo para cualquier deportista, pero es mucho más que eso. Nuestro
  restaurante en el entorno de la piscina permite conciliar la vida social con el deporte. Fiestas temáticas,
  navideñas, etc. A esto debes sumar la tranquilidad de los padres cuando no hay colegio con el comodín del
  club. Tus hijos disfrutarán al aire libre en la escuela de verano, escuela de navidad y días deportivos.</h3>
<br><br>
