.grid-container {
  padding: 1vw;

}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  background-color: #acd77a;
  color: white;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: left;
}

mat-card-img{
  width: 100%;
  height: 100%;
}

.foto{
  position: relative;
  text-align: center;
  width: 100%;
  height: 100%;
}

.contenedor{
  position: relative;
  display: block;
  text-align: center;
  width: 100%;
}

h1 {
  -webkit-text-stroke-width: 0.3px;
  -webkit-text-stroke-color: black;
}
.centrado{
  position: absolute;
  top: 40%;
  bottom: 30%;
  left: 30%;
  right: 30%;
  font-size: 4.5vw;
  letter-spacing: -2px;
  word-spacing: 1px;
  line-height: 70%;
  color: #4d4470;
  text-transform: uppercase;
  text-align: left;
  font-weight: 1000;
  font-family: Garamond, serif;
  transform: translate(-50%, -50%);
  -webkit-filter: drop-shadow(0.2vw 1px 1px black);
}

.slide{
  padding: 3%;
}
